body {
    margin: 0;
    font-family: system-ui, sans-serif;
    background: #f6f6f6;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #1f2937;
    color: rgb(100, 42, 42);
}

.navbar a {
    color: #2c3b51;
    margin: 0 10px;
    text-decoration: none;
}

.navbar a:hover {
    color: #fbbf24;
}

.btn-primary {
    background: #fbbf24;
    padding: 6px 12px;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}

/* PAGE CONTAINER */
.container {
    max-width: 900px;
    margin: 40px auto;
    background: rgb(202, 100, 100);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* FOOTER */
.footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    color: #555;
}


