/* General styling */
body {
  background-color: #500f91;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #212529;
}

/* Headings */
h1 {
  color: #212529;
}

/* Shared book cards */
.shared-card {
  border: none;
  border-radius: 12px;
  background-color: #591616;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.499);
  transition: transform 0.2s ease-in-out;
}
.shared-card:hover {
  transform: scale(1.03);
}

/* Card images */
.shared-card img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  height: 260px;
  object-fit: cover;
}

/* Buttons */
.btn-dark {
  border-radius: 5px;
  font-weight: 500;
}
.btn-dark:hover {
  background-color: #9e252597;
}

/* Footer */
footer {
  font-size: 0.9rem;
  background-color: #f1f3f5;
  color: #3e79b4;
}