.signup-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.signup-form input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #e33b3b;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background: #dda823;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
