<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>All Books • Library System</title>

  <link href="{{ url_for('static', filename='all-books.css') }}" rel="stylesheet">
</head>

<body>

<nav>
  <a href="{{ url_for('pages.all_books') }}">📚 Library System</a>

  <ul>
    <li><a href="{{ url_for('pages.all_books') }}">All Books</a></li>
    <li><a href="{{ url_for('pages.my_books') }}">My Books</a></li>
    <li><a href="{{ url_for('pages.wish_list') }}">Wishlist</a></li>
    <li><a href="{{ url_for('pages.admin') }}">Admin</a></li>
  </ul>

  <div>
    <a href="{{ url_for('pages.log_in') }}">Login</a>
    <a href="{{ url_for('pages.sign_up') }}">Sign up</a>
  </div>
</nav>

<main>
  <h1>Search Books</h1>

  <div class="filter-box">

    <input id="search" placeholder="Search by title or author...">

    <select id="genre"><option value="">All Genres</option></select>

    <select id="lang">
      <option value="">All Languages</option>
      <option>English</option>
      <option>Albanian</option>
    </select>

    <button>Filter</button>

    <div class="tabs">
      <button id="tabAll">All Books</button>
      <button id="tabAvail">Available Only</button>
    </div>
  </div>

  <div id="booksGrid"></div>
</main>

<footer>
  <p>&copy; 2025 Library System — Demo for class</p>
</footer>

</body>
</html>
